@model IEnumerable<MVC_MVC.VendaRegistro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorSugerido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desconto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcelas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimVencimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recebeu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Juro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPagamento.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorSugerido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desconto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parcelas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimVencimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recebeu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Juro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPagamento.Descricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
