@model MVC_MVC.Produto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumEstoque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumEstoque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumEstoqueCritico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumEstoqueCritico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor.Nome_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.Nome_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidade.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidade.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
